{% extends 'base.html.twig' %}

{% block title %}IP Monitor{% endblock %}

{% block body %}

    <h1>IP Monitor</h1>
    <div>
        {% if ipsStatus|length > 0 %}
            {% for ip in ipsStatus %}
                <div>
                    <a href="{{path('app_ip_status_show', {ipStatus:ip.id})}}">{{ip.ip}}</a>
                </div>
            {% endfor %}
        {% else %}
            Nothing To Monitoring Here!
        {% endif %}
    </div>

{% endblock %}
